body {
    margin:0px;
}

#topMenu {
    height:30px;
    background-color: #43567d;
    padding-top:5px;
}

#mainBox {
    margin:0px;
    margin-top:5px; 
    height:500px;
}

#leftMenu {
    width:130px;
    margin:0px;
    height:500px;
    float:left;
}

#rightMenu {
    height: 500px;
    float:right;
    margin:0px;
    border-color: #06c;
}

#logo {
    font-size:18px;
    color: #fff;
    font-family:Calibri;
    margin-left:10px;
    font-weight:700;
}

.topButton{
    color:#8c9cbb;
    text-decoration:none;
    margin-right:20px;
    font-size:14px;
    font-family:"黑体";
}

.topButton:hover {
    color: #fff;
}


.box3{
    padding:3px 3px 3px 3px;
    border:1px solid #fff;
    box-shadow: 0px 0px 5px #06c;
    float:left;
    border-radius: 5px;
}

#userDataFrame {
    margin:10px;
}

.leftMenuBox {
    width: 110px;
    height:50px;
    margin:0px;
    padding-left:20px;
    padding-top:15px;
    color: #43567d;
    font-family:Cambria;
    font-weight:500;
    font-size:20px;
}
.leftMenuBox:hover {
    background-color: #f1f1f1;
}




#map {
}

.closeBox {
    margin:0px;
    padding:0px;
    color:#8c9cbb;  
    font-weight:700;
    cursor:default;
    float:right;
    border-radius:5px;
}

.closeBox:hover {
    color: #f1f1f1;
    background-color: #06c;

}
